<p-menubar [model]="items">
  <ng-template pTemplate="end" *ngIf="user$ | async as user">
    <div class="flex align-items-center gap-2">
      <p class="m-0">{{ user.email }}</p>
      <p-avatar
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPpMv0Ot3uIzP8TRIheobYZXdjO9e86uS__zqrwB74xfG7RwZpktBXaT1opqtbENvPL58&usqp=CAU"
        shape="circle"
      />
    </div>
  </ng-template>
</p-menubar>
<div class="home-content">
  <div class="welcome-message">
    <h1>Welcome to Nx Challenge!</h1>
    <p>This is the home page of your application.</p>
    <h2>Counter State "Test"</h2>
    <p>Count: {{ count$ | async }}</p>
    <button (click)="add()">Add</button>
  </div>
</div>
